[project]
name = "ttt4145-semester-project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "pysdr>=1.2",
    "pytest>=9.0.2",
]
